name: Check label
on:
  pull_request:
    branches:
      - main
    types:
      - labeled
      - unlabeled
      - synchronize

jobs:
  check_label:
    name: Check label
    runs-on: ubuntu-22.04
    timeout-minutes: 10
    steps:
      - name: Print event and payload
        run: |
          echo "Event: ${{ github.event_name }}"
          echo "Payload: ${{ toJson(github.event) }}"
      - name: Check required label
        if:
          (!contains(github.event.pull_request.labels.*.name, 'bump patch')) &&
          (!contains(github.event.pull_request.labels.*.name, 'bump minor')) &&
          (!contains(github.event.pull_request.labels.*.name, 'bump major'))
        run: exit 1
