name: Debug
on:
  pull_request:
    branches:
      - main
    types:
      - closed

jobs:
  debug:
    name: Debug
    timeout-minutes: 10
    runs-on: ubuntu-22.04
    steps:
      - name: Print event and payload
        run: |
          echo "Event: ${{ github.event_name }}"
          echo "Payload: $GITHUB_CONTEXT"
        env:
          GITHUB_CONTEXT: ${{ toJson(github.event) }}
